html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 64px;
    width: 100%;
    display: flex;
    margin: 0;
    align-content: center;
}

/* NAVIGATION BLOCK */

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.logo img {
    height: 32px;
    width: auto;
}

#colmar {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

#academy {
    font-size: 1.5rem;
    color: gray;
    font-weight: lighter;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 24px 0 0;
}

nav ul li {
    list-style-type: none;
}

.nav-link {
    margin-left: 16px;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:hover {
    color: blueviolet;
}

/* MAIN GENERAL BLOCK */
#section1,
#section2 {
    padding: 32px 0 32px 24px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.left {
    width: 60%;
    height: auto;
}

.right {
    width: 40%;
    margin-left: 24px;
}

.left img,
.left video {
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(76,76,76);
}

/* SECTION 1 */
#section1 {
    background-color: rgb(216,216,216);
    display: flex;
    align-items: center;
}

#sec1-content {
    width: 70%;
    color: rgb(74,74,74);
}



#sec1-content p {
    font-size: 1.4rem;
    font-weight: 900;
    color: rgb(76,76,76);;
}

.button {
    background-color: rgb(74,74,74);
    width: 100%;
    padding: 8px 0;
}

.button:hover {
    background-color: blueviolet;
}

.btn {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.btn:hover {
    color: black;
}

/* SECTION 2 */
#section2 {
    display: flex;
    background-color: rgb(243,245,245);
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
}

.content img {
    width: 35%;
    height: auto;
    margin: 16px;
}

#img1 {
    margin-top: 0;
}

#content-text1 {
    margin-bottom: 16px;
}

.content-text {
    width: 65%;

}

.content-text h3,
.content-text p {
    margin-top: 0;
    margin-bottom: 8px;
}

.content-text h3 {
    color: rgb(76,76,76);
    font-size: 1.8rem;
    font-weight: 700;
}

.content-text p {
    color: rgb(76,76,76);
}

.content-text p a {
    text-decoration: none;
    color: blue;
}

.content-text p a:hover {
    color: blueviolet;
}

.content-gray {
    background-color: rgb(216,216,216);
}

.description {
    color: rgb(76,76,76);
    font-size: 1rem;
}

/* SECTION 3 */

#learning-section {
    background-color: rgb(234,235,236);
    width: 100%;
    padding-bottom: 32px;
}

#learning-section h2 {
    text-align: center;
    padding-top: 32px;
    margin: 0;
}

.learn-container {
    display: grid;
    margin: 32px 72px 32px 72px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.job-container {
    width: 100%;
    background-color: white;
}

.job-container img {
    width: 100%;
    height: auto;
}

.job-h3 {
    color: rgb(78,78,78);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 16px;
}

.job-container p {
    color: rgb(78,78,78);
    font-size: 1rem;
    font-weight: 200;
    margin: 8px 16px 24px 16px;
}

/* SECTION 4 */
#section4 {
    background-color: rgb(243,245,245);
    padding: 32px 0 32px 24px;
}

#section4 h2 {
    margin-top: 0;
    text-align: center;
}

.sec4-container {
    display: flex;
}

.left h4 {
    color: rgb(78,78,78);
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

/* FOOTER */
hr {
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}
footer span {
    width: 50%;
    margin-left: 24px;
}

footer div {
    width: 50%;
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    margin-right: 24px;
}

footer div p {
    margin-left: 16px;
}

footer div p a {
    text-decoration: none;
}

footer div p a:hover {
    color: blueviolet;
} 

/* MEDIA FOR MOBILE */

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 24px;
        padding: 0;
    }

    #section1 {
        flex-wrap: wrap;
        padding: 0 0 32px 0;
    }

    .left,
    .right {
        width: 100%;
    }

    .right-mobile {
        margin: 32px 16px 0 16px;
    }

    #sec1-content {
        width: 100%;
        color: rgb(74,74,74);
    }

    #sec2left-mobile {
        display: none;
    }

    #section2 {
        padding: 16px 0 0 0;
        width: 100%;
    }

    .content {
        flex-wrap: wrap;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }

    .content img,
    .content-text {
        width: 100%;
        margin: 0;
    }

    .sec2right {
        margin: 0;
        width: 100%;
    }

    .img-mobile {
        display: block;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    .content .content-text {
        margin: 16px;
    }

    .content-text h3 {
        color: rgb(76,76,76);
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    .content-text p {
        color: rgb(76,76,76);
        font-size: 1.4rem;
    }

    .content-gray {
        background-color: rgb(243,245,245);
    }

    .learning-mobile {
        display: block;
        width: 100%;
        
    }

    .lrn-mobile {
        max-width: 100%;
        margin: 16px 16px 8px 32px;
        background-color: rgb(216,216,216);
    }

    .lrn-mobile h3 {
        padding: 16px 0 24px 16px;
        font-size: 1.5rem;
        color: rgb(76,76,76);
    }

    #section4 {
        padding: 32px 0 24px 0;
    }

    footer span{
        margin: 16px 0;
    }
}